.rental-presentation {
   display: flex;
   justify-content: space-between;
}

.tags-wrapper {
   display: flex;
   margin: 2rem 0;
   flex-wrap: wrap;
}

.rental__collapse-wrapper {
   display: flex;
   gap: 70px;
}
