.rental-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 100%;
   background-color: #f7f7f7;
   border-radius: 25px;
   /* margin: 2rem 0; */
   /* padding: 2rem ; */
   /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: space-evenly;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 25px;
  gap: 24px;
  grid-template-rows: 340px 340px; */
}
