.host {
   display: flex;
   align-items: center;
   margin: 1rem 0;
}

.host__name {
   color: #ff6060;
   font-size: 18px;
   font-weight: 500;
   margin: 1rem;
   text-align: right;
   width: 90px;
}

.host__picture {
   border-radius: 30px;
   object-fit: cover;
   height: 64px;
   width: 64px;
}

@media screen and (max-width: 767px) {
   .host {
      display: flex;
      justify-self: flex-end;
      margin: 0;
   }

   .host__name {
      font-size: 14px;
      margin-right: 1rem;
      width: 80px;
   }

   .host__picture {
      height: 32px;
      width: 32px;
   }
}
