body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
   margin: 0;
}

.app-wrapper {
   margin: 0 auto;
   max-width: 1400px;
}

.wrapper {
   margin: 0 3rem;
}

/* #root {
   margin: 0 3rem;
} */

@media screen and (max-width: 767px) {
   .wrapper {
      margin: 0 1rem;
   }
}
