body {
   margin: 5rem;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
   margin: 0;
}
